
.classpath

.project

*.prefs

/Danganronpa Extract/*
/Danganronpa Extract ORIGINAL/*
/Danganronpa Extract Modded/*
Danganronpa Extract Keyboard/*
tmp/*
/mods/Togami Mod/*
/SamplePak/*

*.class
*.wad

*.txt

*.pak

*.lin

backup.dr1

