@use "themes";
@use "utils";
@use "sass:color";

@mixin rounded($radius) {
  -fx-border-radius: $radius;
  -fx-background-radius: $radius;
}

@mixin circle($radius) {
  -fx-border-radius: $radius;
  -fx-background-radius: $radius;
  -fx-min-width: $radius;
  -fx-min-height: $radius;
  -fx-max-width: $radius;
  -fx-max-height: $radius;
}

@include themes.styleRoot using($theme) {
  -fx-background-color: themes.underPageBackgroundColor($theme);
}

.frame {
  @include themes.styleFrame();

  -fx-border-width: .25em;
}

.control {
  @include themes.styleFrame();

  -fx-border-width: .25em;
}

.menu-bar {
  -fx-border-width: utils.border($bottom: 1px);
  -fx-padding: 0;

  @include themes.style() using($theme) {
    -fx-background-color: themes.windowBackgroundColor($theme);
    -fx-border-color: themes.gridColor($theme);
  }
}

.tool-bar {
  -fx-border-width: utils.border($top: 1px);

  @include themes.style() using($theme) {
    -fx-background-color: themes.windowBackgroundColor($theme);
    -fx-border-color: themes.gridColor($theme);
  }
}

.menu-button {
  @include themes.style(themes.$themes) using($theme) {
    -fx-background-color: themes.controlBackgroundColor($theme);
    //-fx-border-color: themes.gridColor($theme);
    -fx-icon-color: themes.textColor($theme);

    &:hover {
      -fx-background-color: themes.selectedControlColor($theme);
    }

    &:disabled {
      -fx-background-color: themes.disabledColour(themes.textBackgroundColor($theme), 25%);
      //-fx-border-color: themes.gridColor($theme);
      -fx-icon-color: themes.disabledColour(themes.textColor($theme), 25%);
    }
  }
}

.menu-item {
  @include themes.style(themes.$themes) using($theme) {
    -fx-background-color: themes.controlBackgroundColor($theme);

    &:hover {
      -fx-background-color: themes.selectedControlColor($theme);

      .label {
        -fx-text-fill: themes.selectedControlTextColor($theme);
      }
    }

    &:disabled {
      -fx-background-color: themes.disabledColour(themes.textBackgroundColor($theme), 25%);
    }
  }
}

.context-menu {
  @include themes.style(themes.$themes) using($theme) {
    -fx-background-color: themes.controlBackgroundColor($theme);
  }
}

.label {
  @include themes.styleText();
}

.ikonli-font-icon {
  @include themes.styleIcon();
}

.logo-pane {
  $font-size: 36;
  -fx-font-size: $font-size;

  .top-icon-layer {
    -fx-icon-size: $font-size * 6;
  }

  .bottom-icon-layer {
    -fx-icon-size: $font-size * 8;
  }

  .label {
    -fx-translate-y: 1em;
  }
}